---
import type { Category } from "@/lib/microcms";

interface Props {
  category?: Category;
}

const { category } = Astro.props;
---

{category ? <span class="tag">{category.name}</span> : null}

<style>
  .tag {
    background-color: var(--color-bg-sub);
    padding: 4px 12px;
    border-radius: var(--border-radius);
    white-space: nowrap;
    font-size: 1rem;
  }
</style>
